@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main {
  background-color: #283646;
  width: 759px;
  height: 573px;
  padding-left: 150px;
  padding-right: 50px;
}

h1 {
  font-size: 48px;
  font-family: Raleway;
  color: white;
  margin-top: 88px;
}

input[type="text"] {
  width: 220px;
  height: 56px;
  margin-top: 10px;
  display: block;
}

form {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

input[type="email"] {
  width: 456px;
  height: 56px;
  display: block;
  margin-top: 10px;
}

button {
  width: 128px;
  height: 53px;
  margin-top: 41px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500px;
  border-radius: 8px;
  background-color: #3a86ff;
  color: white;
  border: none;
}

label {
  margin-right: 16px;
  font-size: 16px;
  font-family: Roboto;
  color: white;
  margin-top: 15px;
}

input {
  background-color: #4f5a68;
  border-color: #3a86ff;
  padding: 16px;
}

input::placeholder {
  font-size: 16px;
  font-family: Roboto;
  color: #77808b;
}

input:focus {
    border: 3px solid red;
    outline: none;
    background-color: aqua;

}
